html, body{
    overflow: hidden;
}
#screen{
    position: relative;
    height: 100dvh;
    width: 100%;
}

#nextPoke{
    height: 8%;
    width: 80%;
    background-color: rgb(9, 124, 201);
    position: absolute;
    border: 0px solid ;
    top: 90%;
    left: 10%;
    border-radius: 15px;
    color: white;
    font-size: 21px;
}

#pokeLogo{
    width: 50%;
    height: 20%;
    top: 5%;
    left: 21%;
    position: absolute;
}

#reponceInput{
    position: absolute;
    height: 8%;
    width: 80%;
    border: 2px solid rgb(9, 124, 201);
    border-radius: 15px;
    top: 80%;
    left: 9.8%;
    font-size: 20px;
    color: rgb(41, 41, 41);
    visibility: hidden;
}

#reponceInput:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid rgba(10, 107, 172, 0.623);
}

#pokemonIMG{
    height: 35%;
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;
    visibility: hidden;
}

#question{
    position: absolute;
    top: 5%;
    left: 8%;
    color: rgb(36, 36, 36);
    visibility: hidden;
    font-size: 200%;
    width: 70%;
    height: 40%;
}

#scoreCase{
    height: 35%;
    width: 80%;
    box-shadow: 0 0 2px 0 rgb(70, 70, 70);
    position: absolute;
    top: 32%;
    left: 10%;
    visibility: hidden;
}

#result{
    position: absolute;
    top: 35%;
    font-size: 170%;
    left: 12%;
    visibility: hidden;
}

#who{
    position: absolute;
    top: 50%;
    font-size: 140%;
    visibility: hidden;
    left: 20%;
}

#menuBTN{
    position: absolute;
    top: 5%;
    left: 90%;
    height: 8%;
    width: 8%;
}
