body{
    overflow: hidden;
}

#screen{
    height: 832px; 
    width: 384px; 
    position: absolute;
    top: -0px;
    left: -0px;
    border: 1px solid black;
}

#nextPoke{
    height: 8%;
    width: 80%;
    background-color: rgb(9, 124, 201);
    position: relative;
    border: 0px solid ;
    top: 90%;
    left: 10%;
    border-radius: 15px;
    color: white;
    font-size: 21px;
}

#pokeLogo{
    width: 50%;
    height: 20%;
    top: 5%;
    left: 21%;
    position: relative;
}

#reponceInput{
    position: relative;
    height: 8%;
    width: 80%;
    border: 2px solid rgb(9, 124, 201);
    border-radius: 15px;
    top: 50%;
    left: 9%;
    font-size: 20px;
    color: rgb(41, 41, 41);
    visibility: hidden;
}

#reponceInput:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid rgba(10, 107, 172, 0.623);
}

#pokemonIMG{
    height: 35%;
    width: 80%;
    position: relative;
    top: -15%;
    left: 10%;
    visibility: hidden;
}

#question{
    position: relative;
    top: -70%;
    left: 8%;
    color: rgb(36, 36, 36);
    visibility: hidden;
    font-size: 200%;
}
